.popup__item_place {
  color: #C4C4C4;
}

.popup__item_place::placeholder {
  color: #C4C4C4;
}
  
.popup__item_place::-webkit-input-placeholder {
  color: #C4C4C4;
}
    
.popup__item_place::-moz-placeholder {
  color: #C4C4C4;
}
    
.popup__item_place::-ms-input-placeholder {
  color: #C4C4C4;
}