.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.png);
  background-repeat: no-repeat;
  display: block;
  margin-left: 18px;
  margin-top: 37px;
}