.cards__info {
  padding: 25px 20px 25px 21px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  width: 282px; 
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}