.profile__nickname {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  display: block;
  max-width: 294px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

@media screen and (max-width: 420px) {
  .profile__nickname {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
    padding-left: 46px;
  }
}