.cards__like-button {
  align-self: center;
  background-image: url(../../../images/union_v.svg);
  display: block;
  padding-top: 17px;
  width: 22px;
  background-color: initial;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border: none;
  box-sizing: border-box;
  transition: opacity .3s ease;
  cursor: pointer;
}

.cards__like-button:hover {
  opacity: .5;
}

.cards__like-button:focus {
  outline: none;
}