.profile__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding-top: 6px;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap; 
}

@media screen and (max-width: 420px) {
  .profile__text {
    font-size: 14px;
    padding-top: 14px;
    margin: 0 auto;
  }
}