.profile__add {
  width: 150px;
  height: 50px;
  padding: 35px 0 35px 0;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 615px) {
  .profile__add {
    width: 282px;
    height: 50px;
  }
}


@media screen and (max-width: 420px) {
  .profile__add {
    padding: 0 0 36px 0;
  }
}