.popup__exit-button {
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../../../images/close-icon.png);
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity .3s ease-in;
  position: absolute;
  top: -40px;
  right: -40px;
}
  
.popup__invisible-exit-button[type="submit"]:hover + .popup__exit-button {
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .popup__exit-button {
    width: 20px;
    height: 20px;
    background-size: cover;
    top: -36px;
    right: 0;
  }
}