.popup__save-button {
  width: 358px;
  height: 50px;
  display: block;
  background-color: #000000;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity .3s ease-in;
  margin-top: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border: none;
  padding: 0;
  border-radius: 2px;
  margin-left: 36px;
  margin-bottom: 37px;
  cursor: pointer;
}
  
.popup__save-button:hover {
  opacity: .8;
}

.popup__save-button:focus {
  outline: none;
}

@media screen and (max-width: 580px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-left: 22px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}