.footer {
  padding: 67px 0 60px 0;
  margin: 0 auto;
  max-width: 880px;
  display: block;
}

@media screen and (max-width: 950px) {
  .footer {
    padding-left: 19px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}