.profile__nickname {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  display: block;
  min-width: 294px;
  height: 42px;
}

@media screen and (max-width: 420px) {
  .profile__nickname {
    font-size: 27px;
    line-height: 33px;
    min-width: 189px;
    height: 26px;
    padding-left: 46px;
  }
}